.footer {
  background: linear-gradient(135deg, #264653, #1a1a1a);
  color: #ffffff;
  padding: 20px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-text {
  font-size: 14px;
  margin: 0;
}

.footer-links {
  display: flex;
  /* flex-direction: column; */
  gap: 14px;
}

.footer-links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.2s;
}

.footer-links a:hover {
  color: #facc15; /* oltin rang */
}

.footer-contact {
    text-align: start;
  font-size: 14px;
  line-height: 1.6;
}

.footer-contact p {
  margin: 0;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-inner {
    flex-direction: column;
    text-align: center;
  }
  .footer-links {
    align-items: center;
  }
  .footer-contact {
    margin-top: 10px;
  }
}
