.motion-container {
  width: 100%;
  min-height: 100vh;
  background: radial-gradient(circle at center, #0d0d0d 0%, #000 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-top: 20px;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1040px;
  width: 100%;
  gap: 40px;
  padding: 20px;
}

.globe {
  width: 500px;
  height: 500px;
  flex-shrink: 0;
}

.info-card {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  background: linear-gradient(90deg, #518386, #2a3648, #518386);
  background-size: 200% 200%;
  animation: borderAnimation 3s linear infinite;
  border-radius: 16px;
   /* padding: 10px; */
}

  .electric-border {
   
  position: relative;
  display: inline-block;
  border-radius: 16px;
  padding: 33px;
  
  
}

@keyframes borderAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

/* 
.electric-border::before {
  content: "";
  position: absolute;
  inset: -2px;
  border-radius: 18px;
  padding: 2px;
  background: linear-gradient(90deg, #0ff, rgb(17, 17, 69), rgb(222, 208, 222), #0ff);
  background-size: 400% 400%;
  animation: electric 6s linear infinite;
  -webkit-mask: linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
} */

@keyframes electric {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.card-logo {
  width: 150px;
  margin: 0;
}

.card-title {
  font-size: 24px;
  margin-bottom: 15px;
}

.card-desc {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.card-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(135deg, rgb(67, 67, 91), rgb(95, 193, 193));
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.card-btn:hover {
  background: linear-gradient(135deg, #0ff, rgb(54, 94, 134));
}

@media (max-width: 900px) {
  .content-wrapper {
    flex-direction: column;
    text-align: center;
  }
  .globe {
    width: 350px;
    height: 350px;
  }
}
